<ul
  class="nav d-flex justify-content-center align-items-center pt-3 pb-1 flex-column"
>
  <li class="nav-item px-2">Address: P.O. Box 1118, Mullica Hill NJ 08062</li>
  <li class="nav-item px-2">Cell: (856) 430-0197</li>
  <li class="nav-item px-2">Email: mtactruckingcompliance@gmail.com</li>
</ul>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a href="/" class="nav-link px-2 text-light">Home</a>
  </li>
  <li class="nav-item">
    <a href="/service" class="nav-link px-2 text-light">Services</a>
  </li>
  <li class="nav-item">
    <a href="/links" class="nav-link px-2 text-light">Links</a>
  </li>
  <li class="nav-item">
    <a href="/news" class="nav-link px-2 text-light">News</a>
  </li>
  <li class="nav-item">
    <a href="/contact" class="nav-link px-2 text-light">Contact</a>
  </li>
</ul>
<p class="text-center m-0">&copy; 2023 M-Tac Trucking Compliance, LLC</p>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      href="https://www.facebook.com/profile.php?id=61556295357433"
      class="nav-link px-2"
      target="_blank"
    >
      <img src="/img/facebook.svg" alt="Facebook icon" />
    </a>
  </li>
  <li class="nav-item">
    <a
      href="https://www.youtube.com/@M-TacTruckingCompliance"
      class="nav-link px-2"
      target="_blank"
      ><img src="/img/youtube.svg" alt="YouTube link"
    /></a>
  </li>
  <!-- <li class="nav-item">
    <a href=""><img src="" alt="" /></a>
  </li> -->
</ul>