<ul
  class="nav d-flex justify-content-center align-items-center pt-3 pb-1 flex-column"
>
  <li class="nav-item px-2">Address: P.O. Box 1118, Mullica Hill NJ 08062</li>
  <li class="nav-item px-2">Cell: (856) 430-0197</li>
  <li class="nav-item px-2">Email: mtactruckingcompliance@gmail.com</li>
</ul>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a href="#" class="nav-link px-2 text-light">Home</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link px-2 text-light">Features</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link px-2 text-light">Pricing</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link px-2 text-light">FAQs</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link px-2 text-light">About</a>
  </li>
</ul>
<p class="text-center pb-3 m-0">&copy; 2023 M-Tac Trucking Compliance, LLC</p>