<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      <img class="w-75" src="img/company_logo.png" alt="MTAC Company Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-text text-center">
      Providing guidance and solutions to ensure your Carrier is safe and USDOT
      compliant.
    </span>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav text-center ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="#links" class="nav-link">Links</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/login" class="nav-link">Employee Log In</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
