<%- include('./partials/header') %>
<section>
  <div class="container">
    <div class="d-flex justify-content-around align-items-center mt-4">
      <div>
        <img
          src="/img/inspection_4.jpg"
          alt=""
          class="w-100 h-full mx-auto d-none d-xl-block rounded"
        />
      </div>
      <div class="mx-5">
        <p class="fs-4 fw-medium mb-1">A note from Brian McGuire</p>
        <p class="fs-5 fw-medium fst-italic">Founder and Owner</p>
        <p class="fs-5 pb-4 mb-0">
          M-Tac Trucking Compliance LLC was established on January 1st of 2019.
          <br /><br />
          I found that many carriers are in need of a point of contact for
          assistance in becoming and remaining in compliance with 49 CFR (The
          USDOT regulations governing commercial vehicle compliance). I will
          ensure you and your drivers are in compliance with all Federal and
          State regulations.
          <br /><br />
          I have the knowledge necessary to review roadside inspections and
          advise on incorrectly documented violations, which is essential when
          challenging inspections to improve your CSA Safety Rating. I perform
          post-crash inspections and properly document my findings for future
          purposes, such as insurance claims.
          <br /><br />
          Proper training is essential for all aspects of transportation safety,
          including driver safety, hours of service requirements, and
          performance or maintenance issues. Using a contemporary and aggressive
          approach, I will work alongside you and your company to ensure a
          thorough understanding of industry standards and that you and your
          employees have the tools necessary for the safe and compliant
          operation of your business.
        </p>
        <div class="row">
          <div class="col">
            <p class="fs-5 text-center">
              <img
                src="/img/njpga.png"
                class="rounded pb-2"
                alt="NJPGA"
                style="height: 80px"
              />
              <br />
              &nbsp;2020 NJ Propane Gas Association<br />Safety Award Recipient&nbsp;
            </p>
          </div>
          <div class="col">
            <p class="fs-5 text-center">
              <img
                src="/img/csva.png"
                class="rounded pb-2"
                alt="CSVA"
                style="height: 80px"
              />
              <br />
              Associate member of the Commercial Vehicle Safety Association (CVSA)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./testimonials') %> <%- include('./partials/footer') %>
