<section
  class="border-top border-2 border-dark-subtle bg-light text-dark text-center"
>
  <div class="container">
    <h3 class="text-center fw-bold mb-3 pt-3">About Us</h3>
    <div
      class="d-sm-flex justify-content-around align-items-center text-sm-start"
    >
      <div class="mx-5">
        <p class="text-center fs-4">A note from Brian McGuire</p>
        <p class="fs-5 text-center">Founder and Owner</p>
        <p class="fs-5 pb-4 mb-0">
          M-Tac Trucking Compliance LLC was established on January 1st of 2019.
          <br /><br />
          I found that many carriers are in need of a point of contact for
          assistance in becoming and remaining in compliance with 49 CFR (The
          USDOT regulations governing commercial vehicle compliance). I will
          ensure you and your drivers are in compliance with all Federal and
          State regulations.
          <br /><br />
          I have the knowledge necessary to review roadside inspections and
          advise on incorrectly documented violations, which is essential when
          challenging inspections to improve your CSA Safety Rating. I perform
          post-crash inspections and properly document my findings for future
          purposes, such as insurance claims.
          <br /><br />
          Proper training is essential for all aspects of transportation safety,
          including driver safety, hours of service requirements, and
          performance or maintenance issues. Using a contemporary and aggressive
          approach, I will work alongside you and your company to ensure a
          thorough understanding of industry standards and that you and your
          employees have the tools necessary for the safe and compliant
          operation of your business.
        </p>
        <p class="fs-5 text-center">
          <i class="fas fa-light fa-award"></i>&nbsp;2020 NJ Propane Gas
          Association Safety Award Recipient&nbsp;<i
            class="fas fa-light fa-award"
          ></i>
        </p>
        <p class="fs-5 text-center pb-2">
          <img
            src="/img/csva.png"
            class="rounded"
            alt=""
            style="height: 40px"
          />
          Associate member of CVSA
        </p>
      </div>
      <div>
        <img
          src="/img/inspection_4.jpg"
          alt=""
          class="img-fluid w-100 mx-auto d-none d-xl-block rounded"
        />
      </div>
    </div>
  </div>
</section>
