<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="m-0">
      <%- include('./partials/header') -%>
    </header>
    <main class="container mb-5">
      <section class="row justify-content-center align-items-center">
        <div class="col-lg-5 col-md-8">
          <form
            action="/news"
            method="post"
            class="border my-5 p-4 rounded shadow-sm"
          >
            <h3 class="text-center pb-3">Add a New Article</h3>
            <div class="mb-3">
              <label for="exampleInputTitle1" class="form-label"
                >Article Title</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputTitle1"
                aria-describedby="titleHelp"
                name="title"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription1" class="form-label"
                >Description</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputDescription1"
                name="description"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputDescription1" class="form-label"
                >Article URL</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputURL1"
                name="url"
              />
            </div>
            <input type="submit" class="btn btn-primary w-100" />
          </form>
        </div>
      </section>
    </main>
    <footer class="footer fixed-bottom py-3 bg-dark text-light">
      <%- include('./partials/footer') -%>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
