<%- include('./partials/header') -%>
      <section class="container">
        <div class="col-md-9 col-lg-6 g-3 mx-auto py-3 px-4 mt-5 border rounded bg-light shadow">
          <form
            action="/news"
            method="post"
          >
            <p class="text-left fs-3 fw-medium">Add a New Article</p>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleInputTitle1"
                name="title"
                required
              />
              <label for="floatingInput">Article Title</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleInputDescription1"
                name="description"
                required
              />
              <label for="floatingInput">Article Description</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleInputURL1"
                name="url"
                required
              />
              <label for="floatingInput">Article URL</label>
            </div>
            <input type="submit" class="btn btn-primary w-100" />
          </form>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') -%>
