<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <main>
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <p>Hooray! You're authenticated! Click the link below to redirect to the home page:</p>
        <a href="/">Main Page</a>
      </div>
    </main>
  </body>
</html>
