<%- include('./partials/header') -%>
  <section id="company-safety-solutions">
    <div class="container">
      <p class="align-left fs-3 fw-medium mt-4">
        Safety Solutions for all Motor Carriers
      </p>
      <div class="row text-center">
        <div class="col-md-6 col-lg-4">
          <img class="p-2" src="/img/tools.svg" alt="tools" />
          <p class="fs-5">Compliance and Safety Consulting</p>
        </div>
        <div class="col-md-6 col-lg-4">
          <img class="p-2" src="/img/checklist.svg" alt="checklist" />
          <p class="fs-5">Safety Audit Preparation &amp; Representation</p>
        </div>
        <div class="col-md-12 col-lg-4">
          <img class="p-2" src="/img/book.svg" alt="book" />
          <p class="fs-5">
            Customized Training Programs<br />(Virtual &amp; In-Person)
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="border-top border-2 border-dark-subtle overflow-x-hidden p-3">
    <div class="container">
      <div>
        <p class="text-left fs-5 fw-medium mb-0">Featured</p>
        <p class="text-left fs-3 fw-medium">New and Noteworthy</p>
      </div>
      <div class="row g-5 text-center mb-3">
        <div class="col-sm-1 col-md-6 col-lg-4 col-xl-3">
          <div
            class="card card-block bg-light h-100 text-center shadow-sm mb-5 rounded"
          >
            <img class="card-image-top" src="/img/inspection_5.jpg" />
            <div class="card-body align-items-center justify-content-center">
              <p class="card-title fs-5">Card title</p>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <a
                target="_blank"
                href="#"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-6 col-lg-4 col-xl-3">
          <div
            class="card card-block bg-light h-100 text-center shadow mb-5 rounded"
          >
            <img class="card-image-top" src="/img/inspection_5.jpg" />
            <div class="card-body align-items-center justify-content-center">
              <p class="card-title fs-5">Card title</p>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <a
                target="_blank"
                href="#"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-6 col-lg-4 col-xl-3">
          <div
            class="card card-block bg-light h-100 text-center shadow mb-5 rounded"
          >
            <img class="card-image-top" src="/img/inspection_5.jpg" />
            <div class="card-body align-items-center justify-content-center">
              <p class="card-title fs-5">Card title</p>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <a
                target="_blank"
                href="#"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
            </div>
          </div>
        </div>
         <div class="col-sm-1 col-md-6 col-lg-4 col-xl-3">
          <div
            class="card card-block bg-light h-100 text-center shadow mb-5 rounded"
          >
            <img class="card-image-top" src="/img/inspection_5.jpg" />
            <div class="card-body align-items-center justify-content-center">
              <p class="card-title fs-5">Card title</p>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <a
                target="_blank"
                href="#"
                class="bg-primary text-light fw-medium text-decoration-none rounded w-50 p-2"
              >
                Click here
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="powr-hit-counter powrLoaded" id="d0465e39_1598232449">
    <iframe
      src="https://www.powr.io/hit-counter/u/d0465e39_1598232449#platform=bootstrap?&amp;url=http%3A%2F%2Fmtactruckingcompliance.com%2Findex.html"
      powrindex="0"
      width="100%"
      height="71px"
      frameborder="0"
      webkitallowfullscreen=""
      mozallowfullscreen=""
      allowfullscreen=""
      style="
        height: 71px;
        transition: height 0.3s ease 0s;
        display: inline;
        visibility: visible;
      "
    ></iframe>
  </div>
  <script src="https://www.powr.io/powr.js?platform=bootstrap?"></script>

  <%- include('./partials/footer') -%>
</main>
