<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="m-0"><%- include('./partials/header') -%></header>
    <main>
      <section class="bg-light-text-center">
        <div
        id="carouselExampleRide"
        class="carousel slide p-0 p-lg-4"
        data-bs-ride="true"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../img/inspection_2.jpg"
              class="d-block w-100"
              alt="inspection-two"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/njsp_service.jpg"
              class="d-block w-100"
              alt="njsp-service"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/presentation_1.jpg"
              class="d-block w-100"
              alt="presentation-one"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/inspection_5.jpg"
              class="d-block w-100"
              alt="inspection-5"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/Post_Crash.jpg"
              class="d-block w-100"
              alt="post-crash"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/seminar_1.jpg"
              class="d-block w-100"
              alt="seminar"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/seminar_2_2.jpg"
              class="d-block w-100"
              alt="seminar2"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 mx-auto">
        <div class="ratio ratio-16x9 text-center my-4">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/DTpvdyzxQWE?controls=0"
            allowfullscreen
          ></iframe>
        </div>
      </div> -->
      </section>
      <div class="powr-hit-counter powrLoaded" id="d0465e39_1598232449">
        <iframe
          src="https://www.powr.io/hit-counter/u/d0465e39_1598232449#platform=bootstrap?&amp;url=http%3A%2F%2Fmtactruckingcompliance.com%2Findex.html"
          powrindex="0"
          width="100%"
          height="71px"
          frameborder="0"
          webkitallowfullscreen=""
          mozallowfullscreen=""
          allowfullscreen=""
          style="
            height: 71px;
            transition: height 0.3s ease 0s;
            display: inline;
            visibility: visible;
          "
        ></iframe>
      </div>
      <script src="https://www.powr.io/powr.js?platform=bootstrap?"></script>
    </main>
    <footer class="footer bg-dark text-light mt-5 py-3">
      <%- include('./partials/footer') -%>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
