<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body
    class="d-flex justify-content-center align-items-center flex-column min-vh-100 bg-light"
  >
    <main class="container mb-5 text-center lh-lg">
      <h1 class="display-1">4&#x1F635;4</h1>
      <h3 class="display-5">Page Not Found</h3>
      <p class="fs-4">Looks like your truck broke down. We'll tow you back to safety!</p>
      <a href="/" class="btn btn-primary btn-lg">Home</a>
    </main>
  </body>
</html>
