<%- include('./partials/header') -%>
      <section>
        <div class="container">
          <p class="text-left fs-3 fw-medium">Our Mission</p>
          <figure>
            <blockquote class="blockquote">
              <p class="px-5 py-2">
                Safety Solutions for All Motor Carriers. We strive to ensure
                that all Motor Carriers, along with their commercial motor
                vehicles and drivers, are in compliance with all applicable
                USDOT/FMCSA and State regulations. We will work with you to
                ensure your company understands what the industry standards are
                and to improve compliance and safety management of your
                business. We take a contemporary and aggressive approach to
                ensuring you have a safe and compliant operation.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer fs-5 text-left">
              Brian A McGuire, Founder & Owner
            </figcaption>
          </figure>
        </div>
      </section>
      <%- include('./links') -%>
    </main>
    <%- include('./partials/footer') -%>
