<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="d-flex flex-column min-vh-100 bg-light">
    <header class="m-0"><%- include('./partials/header') -%></header>
    <main>
      <section>
        <div class="container">
          <h3 class="text-left fw-bold pt-3">Our Mission</h3>
          <figure>
            <blockquote class="blockquote">
              <p class="px-5 py-2">
                Safety Solutions for All Motor Carriers. We strive to ensure
                that all Motor Carriers, along with their commercial motor
                vehicles and drivers, are in compliance with all applicable
                USDOT/FMCSA and State regulations. We will work with you to
                ensure your company understands what the industry standards are
                and to improve compliance and safety management of your
                business. We take a contemporary and aggressive approach to
                ensuring you have a safe and compliant operation.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer fs-5 text-left">
              Brian A McGuire, Founder & Owner
            </figcaption>
          </figure>
          <%- include('./links') -%>
        </div>
      </section>
    </main>
    <footer class="footer mt-auto py-3 bg-dark text-light">
      <%- include('./partials/footer') -%>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
