<section class="bg-light text-dark text-center">
  <div
    id="carouselExampleRide2"
    class="carousel carousel-dark slide p-0"
    data-bs-ride="true"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">C3 Logistics</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Henry S. Papiano, President
              </h6>
              <p class="card-text text-truncate">
                M-Tac Trucking Compliance is one of the best compliance
                companies out there. I was concerned about our DOT score and
                wanted to do something to improve our standards. M-Tac Trucking
                Compliance came in and did a thorough evaluation of our company
                and found some key areas that needed room for improvement.
                Within months, our scores and inspections improved and our
                customers were happy. Without M-Tac Trucking Compliance, I was
                afraid I would not be able to continue. I recommend M-Tac
                Trucking Compliance to everyone that has a DOT number.
              </p>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        C3 Logistics
                        <br />
                        <small class="fs-6 text-secondary"
                          >Henry S. Papiano, President
                        </small>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      M-Tac Trucking Compliance is one of the best compliance
                      companies out there. I was concerned about our DOT score
                      and wanted to do something to improve our standards. M-Tac
                      Trucking Compliance came in and did a thorough evaluation
                      of our company and found some key areas that needed room
                      for improvement. Within months, our scores and inspections
                      improved and our customers were happy. Without M-Tac
                      Trucking Compliance, I was afraid I would not be able to
                      continue. I recommend M-Tac Trucking Compliance to
                      everyone that has a DOT number.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button trigger modal -->
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                See Full Testimony
              </button>
            </div>
          </div>
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">National Freight Industries</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Lee Robledo, Vice President of Safety Technology, Innovation &
                Accident Investigations
              </h6>
              <p class="card-text text-truncate">
                I am thrilled to share my experience with M-Tac Truck Trucking
                Compliance LLC service. From the moment we engaged their
                services, NFI was met with professionalism, expertise, and a
                commitment to ensuring our trucking operations were fully
                compliant with regulations. Brian demonstrated an in-depth
                understanding of the ever-evolving landscape of trucking
                regulations, keeping us informed and prepared for any changes.
                His attention to detail and proactive approach saved us both
                time and potential headaches, allowing us to focus on our core
                business. Moreover, Brian was readily available to address our
                questions and concerns, providing clear and concise guidance
                that instilled confidence in our compliance efforts. His
                dedication to helping us navigate the complexities of the
                industry has proven invaluable, and I wholeheartedly recommend
                his compliance services to any organization in need of reliable
                and comprehensive regulatory support.
              </p>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal2"
                tabindex="-1"
                aria-labelledby="exampleModalLabel2"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        National Freight Industries
                        <br />
                        <small class="fs-6 text-secondary"
                          >Lee Robledo, Vice President of Safety Technology,
                          Innovation & Accident Investigations</small
                        >
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      I am thrilled to share my experience with M-Tac Truck
                      Trucking Compliance LLC service. From the moment we
                      engaged their services, NFI was met with professionalism,
                      expertise, and a commitment to ensuring our trucking
                      operations were fully compliant with regulations. Brian
                      demonstrated an in-depth understanding of the
                      ever-evolving landscape of trucking regulations, keeping
                      us informed and prepared for any changes. His attention to
                      detail and proactive approach saved us both time and
                      potential headaches, allowing us to focus on our core
                      business. Moreover, Brian was readily available to address
                      our questions and concerns, providing clear and concise
                      guidance that instilled confidence in our compliance
                      efforts. His dedication to helping us navigate the
                      complexities of the industry has proven invaluable, and I
                      wholeheartedly recommend his compliance services to any
                      organization in need of reliable and comprehensive
                      regulatory support.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button trigger modal -->
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
              >
                See Full Testimony
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">Hudson News Distributors LLC</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Sarita Rowner, Corporate Compliance Officer
              </h6>
              <p class="card-text text-truncate">
                My name is Sarita and I work for Hudson News Distributors LLC
                where I handle the Driver DOT compliance. Brian at M-Tac
                Trucking Compliance came on as a consultant to help resolve some
                issues with our compliance. He has taught us about Data Q's as
                well as how to calculate our violations weights. Brian has
                helped train our drivers on safety and DVIRs and we could not be
                happier. He has been an incredible help and we have kept him on
                annually as a consultant to help us with all aspects of our
                driver training and compliance.
              </p>
              <!-- Modal -->

              <div
                class="modal fade"
                id="exampleModal3"
                tabindex="-1"
                aria-labelledby="exampleModalLabel3"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Hudson News Distributors LLC
                        <br />
                        <small class="fs-6 text-secondary"
                          >Sarita Rowner, Corporate Compliance Officer</small
                        >
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      My name is Sarita and I work for Hudson News Distributors
                      LLC where I handle the Driver DOT compliance. Brian at
                      M-Tac Trucking Compliance came on as a consultant to help
                      resolve some issues with our compliance. He has taught us
                      about Data Q's as well as how to calculate our violations
                      weights. Brian has helped train our drivers on safety and
                      DVIRs and we could not be happier. He has been an
                      incredible help and we have kept him on annually as a
                      consultant to help us with all aspects of our driver
                      training and compliance.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button trigger modal -->
            <div
              class="card-footer d-flex justify-content-center align-items-center"
            >
              `
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal3"
              >
                See Full Testimony
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev prev-testimonial"
      type="button"
      data-bs-target="#carouselExampleRide2"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next next-testimonial"
      type="button"
      data-bs-target="#carouselExampleRide2"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
