<section class="bg-light text-dark text-center">
  <div
    id="carouselExampleRide2"
    class="carousel carousel-dark slide p-0"
    data-bs-ride="true"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">Daenerys Targaryen</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Targaryen</h6>
              <p class="card-text text-truncate">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aspernatur accusamus illo, laudantium quia nam magnam blanditiis
                laborum cumque dolor, harum maxime doloribus est eius sapiente
                ullam perferendis excepturi reiciendis perspiciatis!
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                See Full Testimony
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Daenerys Targaryen
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Blanditiis error in dicta iure ipsum, quae natus
                      doloremque explicabo velit cupiditate reiciendis tempora.
                      Laboriosam similique provident aliquid voluptatibus
                      voluptates adipisci quas.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">Tyrion Lannister</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Lannister</h6>
              <p class="card-text text-truncate">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dignissimos natus maiores illo officia et ea omnis, corrupti
                perferendis. Deleniti in minima inventore dolorem odio nesciunt,
                officiis maiores labore quo harum.
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
              >
                See Full Testimony
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal2"
                tabindex="-1"
                aria-labelledby="exampleModalLabel2"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel2">
                        Tyrion Lannister
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Repellendus voluptatum tempore, mollitia cupiditate
                      voluptatibus veritatis itaque fugiat voluptate unde,
                      obcaecati dolor, blanditiis dolores! Quae, ullam sapiente
                      provident esse ducimus iure.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">Arya Stark</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Stark</h6>
              <p class="card-text text-truncate">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus
                excepturi consectetur fugit quae deserunt iste, voluptate
                commodi, recusandae unde nobis asperiores reiciendis
                necessitatibus cupiditate quia. Veritatis amet maxime
                consequuntur sint!
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal3"
              >
                See Full Testimony
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal3"
                tabindex="-1"
                aria-labelledby="exampleModalLabel3"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel3">
                        Arya Stark
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Error dolor iure exercitationem nemo, eligendi
                      necessitatibus alias laborum praesentium tenetur provident
                      vitae illum sequi doloremque enim reprehenderit magni
                      consequuntur. Excepturi, incidunt?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card testimonial-card">
            <div class="card-body">
              <h5 class="card-title">Jon Snow</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Targaryen</h6>
              <p class="card-text text-truncate">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Explicabo veritatis tempore, ab assumenda beatae magni, ex optio
                et unde voluptas, vel cupiditate voluptatem nesciunt amet eius
                nisi voluptatum? Autem, minima.
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal4"
              >
                See Full Testimony
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal4"
                tabindex="-1"
                aria-labelledby="exampleModalLabel4"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel4">
                        Jon Snow
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Tenetur eligendi, placeat commodi nam itaque est accusamus
                      officia eos accusantium corrupti pariatur aspernatur quam
                      reiciendis dicta quidem. Ducimus consectetur nemo ipsam!
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev prev-testimonial"
      type="button"
      data-bs-target="#carouselExampleRide2"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next next-testimonial"
      type="button"
      data-bs-target="#carouselExampleRide2"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
