<div class="container-fluid">
  <div class="d-flex justify-content-around align-items-center">
    <div class="mx-5">
      <p class="fw-bold fs-2 text-center">
        A Note from Brian McGuire
      </p>  
      <p class="fs-5 text-center">
        Founder and Owner
      </p>
      <p class="lead">
        M-Tac Trucking Compliance LLC was established on January 1st of 2019.
        <br><br>
        I found that many carriers are in need of a point of contact for assistance in becoming and remaining in compliance with 49 CFR (The USDOT regulations governing commercial vehicle compliance).  I will ensure you and your drivers are in compliance with all Federal and State regulations.
        <br><br>
        I have the knowledge necessary to review roadside inspections 
        and advise on incorrectly documented violations, which is essential 
        when challenging inspections to improve your CSA Safety Rating. I 
        perform post-crash inspections and properly document my findings for 
        future purposes, such as insurance claims.  
        <br><br>
        Proper training is essential for all aspects of transportation safety,
        including driver safety, hours of service requirements, and performance
        or maintenance issues. Using a contemporary and aggressive approach,
        I will work alongside you and your company to ensure a thorough
        understanding of industry standards and that you and your employees
        have the tools necessary for the safe and compliant operation of your business.
      </p>  
    </div>
    <div>
      <img src="../images/inspection_4.jpg" alt="" class="img-fluid w-100 rounded d-none">
    </div>
  </div>
</div>