
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - M-Tac Trucking Compliance</title>
</head>
<body>
<!-- start header -->
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
        <a href="index.html"><img id="company-logo" src="../images/company_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h6 style="margin-bottom: 0px;" class="navbar-text">
            Providing guidance and solutions to ensure your Carrier is safe and USDOT compliant.
        </h6>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="about.html" class="nav-link">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a href="service.html" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a href="links.html" class="nav-link">
                        Links
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact.php" class="nav-link">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- end header -->
<br>

<!-- start main -->
<main>
    <!-- About Us -->
    <div class="container">
        <div class="col-sm-12">
            <h3 class="text-center font-weight-bold">About Us</h3>
            <div class="card bg-light mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img style="height: auto; width: 100%; padding-top: 15px; padding-left: 15px;" src="../images/inspection_4.jpg" class="card-img">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-text">
                                M-Tac Trucking Compliance LLC was found on January 1, 2019.
                                <br><br>
                                I found that many carriers are in need of a point of contact for assistance in becoming and remaining in
                                compliance with 49 CFR (The USDOT regulations governing commercial vehicle compliance).  I will
                                ensure you and your drivers are in compliance with all Federal and State Regulations.
                                <br><br>
                                I have the knowledge necessary to review roadside inspections and advise on incorrectly documented
                                violations which is essential when challenging inspections. I will make myself available to perform post-
                                crash inspections and properly document my findings for future purposes, such as insurance claims.  
                                <br><br>
                                Proper training is essential for all aspects of Transportation Safety, including Driver Safety, Hours of
                                Service, Performance or Maintenance issues.  I will work with you to ensure your clients understand what
                                the industry standards are and to improve compliance and safety management of their business. I will
                                take a contemporary and aggressive approach to ensuring you have a safe and compliant operation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Company Employees -->
        <div class="row justify-content-md-center">
            <div class="card-deck col-sm-4">
                <div class="card bg-light">
                    <div style="display: inline-block; text-align: center;">
                        <img style="width: 45%; height: auto; padding-top: 20px;" class="card-img-top rounded-circle" src="../images/brian.jpg">
                    </div> 
                    <div class="card-body">
                        <br>
                        <a style="color: #111; font-size: 24px; padding: 23%;"
                           href="https://www.linkedin.com/in/brian-mcguire-674625186/"
                           class="card-title">Brian McGuire</a>
                        <h6 class="card-title text-center">Founder & Owner</h6>
                        <p class="card-text">
                            I am the founder and Owner of M-Tac Trucking Compliance LLC.
                            <br><br>
                            I have recently retired after 25 years as a NJ State Trooper, and have spent the past 10 years in the NJ
                            State Police / Transportation Safety Bureau enforcing the Federal Regulations governing USDOT
                            Commercial Vehicles (3500+ inspections). 
                            <br><br>
                            In the last 6 years, I was assigned to the New Entrant Safety
                            Audit / Compliance Review Unit, where I conducted over 1000 Safety Audits to ensure new carriers are
                            educated and in compliance with FMCSA Regulations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 
        <!-- end main -->

        <br>
        <hr>
        <!-- start Footer - Bootstrap 4 -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">M-Tac Trucking Compliance, LLC</h5>
          <ul class="list-unstyled">
            <li>
                Address: P.O. Box 1118, Mullica Hill NJ 08062
            </li>
            <li>
                Cell: (856) 430-0197
            </li>
            <li>
                Email: mtactruckingcompliance@gmail.com
            </li>
          </ul>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Page Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="service.html">Services</a>
            </li>
            <li>
              <a href="links.html">Links</a>
            </li>
            <li>
              <a href="contact.php">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="https://www.fmcsa.dot.gov/">
                    US DOT | FMCSA
                </a>
            </li>
            <li>
                <a href="https://clearinghouse.fmcsa.dot.gov/">
                    Drug and Alcohol Clearinghouse (DACH)
                </a>
            </li>
            <li>
                <a href="https://ai.fmcsa.dot.gov/SMS">
                    Safety Management System (SMS)
                </a>
            </li>
            <li>
                <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=43ccae11163517128af67b5df6f8fb9c&mc=true&tpl=/ecfrbrowse/Title49/49cfrv5_02.tpl#0">
                    Electronic Code of Federal Regulation (ECFR)
                </a>
            </li>
            <li>
                <a href="https://www.state.nj.us/mvc/">
                    NJ Motor Vehicle Commission
                </a>
            </li>
            <li>
                <a href="https://www.penndot.gov/Pages/default.aspx">
                    PA DOT
                </a>
            </li>
            <li>
                <a href="https://www.dmv.de.gov/">
                    DE DMV
                </a>
            </li>
            <li>
                <a href="https://www.njsp.org/">
                    NJ State Police
                </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Hit counter -->
    <div class="powr-hit-counter" id="d0465e39_1598232449"></div>
    <script src="https://www.powr.io/powr.js?platform=bootstrap?"></script>
    <!-- Hit counter -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright &copy; M-Tac Trucking Compliance, LLC | All Rights Reserved
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- end Footer - Bootstrap 4 -->

</body>
</html>