<div class="container">
    <h3 class="text-center fw-bold py-3">Contact Us</h3>
    <form class="col-md-6 g-3 p-4 shadow p-3 bg-body rounded">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="johndoe@gmail.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="John Doe">
        <label for="floatingInput">Full name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Hello there!">
        <label for="floatingInput">Subject header</label>
      </div>
      <div class="col-12 mb-3">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
      </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>
<br>
<br>