<footer class="bg-dark text-center text-white pt-3">
  <!-- Grid container -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-2 col-sm-0 mt-md-0">
        <h5 class="text-uppercase">M-Tac Trucking Compliance, LLC</h5>
        
        <ul class="list-unstyled">
          <li>Address: P.O. Box 1118, Mullica Hill NJ 08062</li>
          <li>Cell: (856) 430-0197</li>
          <li>Email: mtactruckingcompliance@gmail.com</li>
        </ul>
      </div>
      <div class="col-lg-2 mt-md-0">
        <a class="link-light text-decoration-none" href="#">
          Home
        </a>
        <br>
        <a class="link-light text-decoration-none" href="#about">
          About
        </a>
        <br>
        <a class="link-light text-decoration-none" href="#service">
          Services
        </a>
        <br>
        <a class="link-light text-decoration-none" href="#links">
          Links
        </a>
        <br>
        <a class="link-light text-decoration-none" href="#contact">
          Contact
        </a>
      </div>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    Copyright © M-Tac Trucking Compliance, LLC 
    <br>
    All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
