<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      <img class="w-75" src="../images/company_logo.png" alt="MTAC Company Logo">
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav text-center ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link fs-5">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link fs-5">About</a>
        </li>
        <li class="nav-item">
          <a href="#service" class="nav-link fs-5">Services</a>
        </li>
        <li class="nav-item">
          <a href="#links" class="nav-link fs-5">Links</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link fs-5">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>