<!-- TODO - create other card links for link page -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img src="" alt="">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>  
    </div>
  </div>
</div>