<!-- TODO - create other card links for link page -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            US DOT | FMCSA
          </h5>
          <a href="https://www.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            Drug and Alcohol Clearinghouse
          </h5>
          <a href="https://clearinghouse.fmcsa.dot.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            Safety Management System
          </h5>
          <a href="https://ai.fmcsa.dot.gov/SMS" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            Electronic Code of Federal Regulation
          </h5>
          <a 
            href="https://www.ecfr.gov/cgi-bin/text-idx?SID=43ccae11163517128af67b5df6f8fb9c&mc=true&tpl=/ecfrbrowse/Title49/49cfrv5_02.tpl#0"
            class="btn btn-primary"
          >
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            NJ Motor Vehicle Commission
          </h5>
          <a href="https://www.state.nj.us/mvc/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            PA DOT
          </h5>
          <a href="https://www.penndot.gov" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            DE DOT
          </h5>
          <a href="https://www.dmv.de.gov/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <img style="width: 100px; height: auto;" class="card-image mb-3" src="../images/US-DOT.png" alt="US DOT Logo">
          <h5 class="card-title">
            NJ State Police
          </h5>
          <a href="https://www.njsp.org/" class="btn btn-primary">
            click here
          </a>
        </div>
      </div>  
    </div>
  </div>
</div>