<html lang="en"><head>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <div id="powrIframeLoader">­<style> .powrLoaded iframe { visibility: hidden; } </style></div><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links - M-Tac Trucking Compliance</title>
</head>
<body cz-shortcut-listen="true">
    <!-- start header -->
    <header class="header">
    
        <!-- Navbar - start -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
            <a href="index.html"><img id="company-logo" src="../images/company_logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h6 class="navbar-text text-center mission-statement">
                Providing guidance and solutions to ensure your Carrier is safe and USDOT compliant.
            </h6>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="links.html" class="nav-link">
                            Links
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- navbar - end -->
    
    </header>

<!-- start main -->
<main>
    <div class="container">
        <h3 class="text-center font-weight-bold">Links</h3>
        <div class="row justify-content-center">
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light">
                    <div class="card-img">
                        <br>
                        <img class="card-img-top" src="../images/US-DOT.png">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">US DOT | FMCSA</h5>
                        <a href="https://www.fmcsa.dot.gov/" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div id="drug-card" class="card bg-light">
                    <div class="card-img">
                        <br>
                        <img id="drug-img" class="card-img-top" src="../images/drug.jpg">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Drug and Alcohol Clearinghouse</h5>   
                        <a href="https://clearinghouse.fmcsa.dot.gov/" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light">
                    <div class="card-img">
                        <br>
                        <img class="card-image-top" src="../images/safety.jpg">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Safety Management System</h5>   
                        <a href="https://ai.fmcsa.dot.gov/SMS" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light "> 
                    <div class="card-img">   
                        <br>           
                        <img id="ecfr-img" class="card-img-top" src="../images/ecfr.png">
                    </div>
                    <div class="card-body" id="ecfr-body">
                        <h5 class="card-title text-center">Electronic Code of Federal Regulation</h5>    
                        <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=43ccae11163517128af67b5df6f8fb9c&amp;mc=true&amp;tpl=/ecfrbrowse/Title49/49cfrv5_02.tpl#0" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                           Click Here 
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light ">
                    <div class="card-img">
                        <br>
                        <img id="njmvc-img" class="card-img-top" src="../images/njmvc.png">   
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">NJ Motor Vehicle Commission</h5> 
                        <a href="https://www.state.nj.us/mvc/" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>                      
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light ">
                    <div class="card-img">
                        <br>
                        <img id="pa-dot-img" class="card-img-top" src="../images/pa-dot.png">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">PA DOT</h5>  
                        <a href="https://www.penndot.gov/Pages/default.aspx" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>                      
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light ">
                    <div class="card-img">
                        <br>
                        <img class="card-img-top" src="../images/deldot.png">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">DE DOT</h5>  
                        <a href="https://www.dmv.de.gov/" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="link-card col-sm-6 col-lg-5">
                <div class="card bg-light ">
                    <div class="card-img">
                        <br>
                        <img id="njsp-img" class="card-img-top" src="../images/njsp.png">
                    </div>  
                    <div class="card-body">
                        <h5 class="card-title text-center">NJ State Police</h5>
                        <a href="https://www.njsp.org/" style="white-space:normal;" id="external-nav-link" class="btn bg-primary text-light btn-block">
                            Click Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
        <!-- end main -->

        <br>
        <hr>
        <!-- start Footer - Bootstrap 4 -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">M-Tac Trucking Compliance, LLC</h5>
          <ul class="list-unstyled">
            <li>
                Address: P.O. Box 1118, Mullica Hill NJ 08062
            </li>
            <li>
                Cell: (856) 430-0197
            </li>
            <li>
                Email: mtactruckingcompliance@gmail.com
            </li>
          </ul>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Page Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="service.html">Services</a>
            </li>
            <li>
              <a href="links.html">Links</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="https://www.fmcsa.dot.gov/">
                    US DOT | FMCSA
                </a>
            </li>
            <li>
                <a href="https://clearinghouse.fmcsa.dot.gov/">
                    Drug and Alcohol Clearinghouse (DACH)
                </a>
            </li>
            <li>
                <a href="https://ai.fmcsa.dot.gov/SMS">
                    Safety Management System (SMS)
                </a>
            </li>
            <li>
                <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=43ccae11163517128af67b5df6f8fb9c&amp;mc=true&amp;tpl=/ecfrbrowse/Title49/49cfrv5_02.tpl#0">
                    Electronic Code of Federal Regulation (ECFR)
                </a>
            </li>
            <li>
                <a href="https://www.state.nj.us/mvc/">
                    NJ Motor Vehicle Commission
                </a>
            </li>
            <li>
                <a href="https://www.penndot.gov/Pages/default.aspx">
                    PA DOT
                </a>
            </li>
            <li>
                <a href="https://www.dmv.de.gov/">
                    DE DMV
                </a>
            </li>
            <li>
                <a href="https://www.njsp.org/">
                    NJ State Police
                </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Hit counter -->
    <div class="powr-hit-counter powrLoaded" id="d0465e39_1598232449"><iframe src="https://www.powr.io/hit-counter/u/d0465e39_1598232449#platform=bootstrap?&amp;url=http%3A%2F%2Fmtactruckingcompliance.com%2Flinks.html" powrindex="0" width="100%" height="71px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="height: 71px; transition: height 0.3s ease 0s; display: inline; visibility: visible;"></iframe></div>
    <script src="https://www.powr.io/powr.js?platform=bootstrap?"></script>
    <!-- Hit counter -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright © M-Tac Trucking Compliance, LLC | All Rights Reserved
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- end Footer - Bootstrap 4 -->


</body></html>