<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - M-Tac Trucking Compliance</title>
</head>
<body>
<!-- start header -->
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
        <a href="index.html"><img id="company-logo" src="../images/company_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h6 style="margin-bottom: 0px;" class="navbar-text">
            Providing Guidance and Solutions to ensure your Carrier’s USDOT Compliance and Safety.
        </h6>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">
                        About Us
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="service.html" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a href="links.html" class="nav-link">
                        Links
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact.php" class="nav-link">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- end header -->
<br>
<!-- start main -->
<main>

<!-- company mission statement -->
<div class="container">
    <div class="col-sm-12">
        <h3 class="text-center font-weight-bold">Our Service</h3>
        <div style="padding: 15px; padding-bottom: 10px;" class="card bg-light md-3">
            <div class="service-box">
                <div class="service-info">
                    <h4 class="text-center">Our Mission</h4>
                    <p>Safety Solutions for All Motor Carriers.

                        We strive to ensure that all Motor Carriers, along with their commercial motor vehicles and drivers, are in compliance with all applicable USDOT/FMCSA and State regulations.
                        We will work with you to ensure your company understands 
                        what the industry standards are and to improve compliance and safety management of your business.
                        We take a comtemporary and aggressive approach to ensuring you have a safe and compliant operation.
                        <br><br>
                        - Brian A McGuire, NJ State Police - Retired
                    </p>
                </div>
            </div>
        </div>

        <!-- card deck - States serviced -->
        <div style="padding: 15px 15px" class="card-deck mt-4 d-flex justify-content-center">
            <div style="padding: 15px 15px;" class="card bg-light col-sm-5">
                <div class="card-body" id="service-location">
                    <div style="text-align: center;" class="fa-icon">
                        <i class="fas fa-map-marker-alt fa-4x"></i>
                    </div>
                    <br>
                    <h5 class="text-center">States We Service:</h5>
                    <ul class="service-location-list" id="service-location-list">
                        <li class="state-location">
                            New Jersey (NJ)
                        </li>
                        <li class="state-location">
                            Pennsylvania (PA)
                        </li>
                        <li class="state-location">
                            Delaware (DE)
                        </li>
                        <li class="state-location">
                            New York (NY)
                        </li>
                        <li class="state-location">
                            Maryland (MD)
                        </li>
                        <li class="state-location">
                            Virginia (VA)
                        </li>
                        <li class="state-location">
                            West Virginia (WV)
                        </li>
                        <li class="state-location">
                            North Carolina (NC)
                        </li>
                        <li class="state-location">
                            South Carolina (SC)
                        </li>
                        <li class="state-location">
                            Georgia (GA)
                        </li>
                        <li class="state-location">
                            Nevada (NV)
                        </li>
                    </ul>
                    <div class="map-img">
                        <img src="../images/states_serviced.png">
                    </div>
                </div>
            </div>

            <!-- service listing -->
            <div style="padding: 15px 15px;" class="card bg-light col-sm-5">
                <div class="card-body" id="service-box">
                    <div style="text-align: center;" class="fa-icon">
                        <i class="fas fa-wrench fa-4x"></i>
                    </div>
                    <br>
                    <h5 class="text-center">Services Provided:</h5>
                    <ul class="service-list" id="service-list">
                        <li class="service-type">
                            US DOT Compliance Services
                        </li>
                        <li class="service-type">
                            Driver & Vehicle File Management
                        </li>
                        <li class="service-type">
                            Safety Audit & Compliance Review Representation
                        </li>
                        <li class="service-type">
                            CSA Safety Rating Improvement Strategies
                        </li>
                        <li class="service-type">
                            Safety Audit or Compliance Review Representation
                        </li>
                        <li class="service-type">
                            HOS / ELD Regulations
                        </li>
                        <li class="service-type">
                            Annual Vehicle Inspections (49 CFR 396)
                        </li>
                        <li class="service-type">
                            Post Crash Inspections & Guidance
                        </li>
                        <li class="service-type">
                            Driver File Management
                        </li>
                        <li class="service-type">
                            Vehicle Maintenance Files
                        </li>
                        <li class="service-type">
                            Guidance for USDOT and NJ State Statutes
                        </li>
                        <li style="padding-bottom: 8px;" class="service-type">
                            Data Queries / Challenges
                        </li>
                    </ul>
                    <div class="service-img">
                        <img style="padding-bottom: 15px;" src="../images/HOS.png" alt="">              
                    </div>
                    <a class="btn btn-primary text-light btn-block" href="../images/Brochure 3.pdf">See Our Brochure</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </main>
        <!-- end main -->

        <br>
        <hr>
        <!-- start Footer - Bootstrap 4 -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">M-Tac Trucking Compliance, LLC</h5>
          <ul class="list-unstyled">
            <li>
                Address: P.O. Box 1118, Mullica Hill NJ 08062
            </li>
            <li>
                Cell: (856) 430-0197
            </li>
            <li>
                Email: mtactruckingcompliance@gmail.com
            </li>
          </ul>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Page Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="service.html">Services</a>
            </li>
            <li>
              <a href="links.html">Links</a>
            </li>
            <li>
              <a href="contact.php">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Useful Links</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="https://www.fmcsa.dot.gov/">
                    US DOT | FMCSA
                </a>
            </li>
            <li>
                <a href="https://clearinghouse.fmcsa.dot.gov/">
                    Drug and Alcohol Clearinghouse (DACH)
                </a>
            </li>
            <li>
                <a href="https://ai.fmcsa.dot.gov/SMS">
                    Safety Management System (SMS)
                </a>
            </li>
            <li>
                <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=43ccae11163517128af67b5df6f8fb9c&mc=true&tpl=/ecfrbrowse/Title49/49cfrv5_02.tpl#0">
                    Electronic Code of Federal Regulation (ECFR)
                </a>
            </li>
            <li>
                <a href="https://www.state.nj.us/mvc/">
                    NJ Motor Vehicle Commission
                </a>
            </li>
            <li>
                <a href="https://www.penndot.gov/Pages/default.aspx">
                    PA DOT
                </a>
            </li>
            <li>
                <a href="https://www.dmv.de.gov/">
                    DE DMV
                </a>
            </li>
            <li>
                <a href="https://www.njsp.org/">
                    NJ State Police
                </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Hit counter -->
    <div class="powr-hit-counter" id="d0465e39_1598232449"></div>
    <script src="https://www.powr.io/powr.js?platform=bootstrap?"></script>
    <!-- Hit counter -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Copyright &copy; M-Tac Trucking Compliance, LLC | All Rights Reserved
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- end Footer - Bootstrap 4 -->
</body>
</html>