.navbar-nav .nav-item .nav-link:hover, .link-light:hover {
    color: #ffc000;
    
}

/* SlideShow - start */
.carousel-inner {
    width: 50%;
    margin: 0 auto;
  }
  
/* SlideShow - end */

.card-image {
  width: 150px;
  height: auto;
}

/* mobile-responsive - start */
@media screen and (max-width: 784px) {
    .carousel-inner {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
}